<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/trancista/pag.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
</head>
<body>
    <div class="index">
        <div class="barra">
            <img src="img/logo/logo_FB_2.png">
        </div>
        <div class="barra-branca">
            <div class="icones">
                <img src="img/icones/procurar.png">
                <img src="img/icones/user.png">
                <img src="img/icones/bolsa-de-compras.png">
            </div>
        </div>
    </div>
    <div class="encontre">
        <h3>Encontre a trancista mais próxima a você</h3>
        <div class="botoes">
            <select><option value="">UF</option></select>
            <select><option value="">CIDADE</option></select>
            <button>OK</button>
        </div>
    </div>
    <div class="users-geral">
       <div class="users">
        <img src="img/icones/mulher.png">
        <div class="inf">
            <h3>Bruna</h3>
            <h5>Barueri</h5>
            
            <div class="estrela">
                <img src="img/icones/estrela.png">
                <img src="img/icones/estrela.png">
                <img src="img/icones/estrela.png">
                <img src="img/icones/estrela.png">
                <img src="img/icones/estrela.png">
            </div>
        </div>
         </div> 
         <div class="users">
            <img src="img/icones/mulher.png">
            <div class="inf">
                <h3>Bruna</h3>
                <h5>Barueri</h5>
                
                <div class="estrela">
                    <img src="img/icones/estrela.png">
                    <img src="img/icones/estrela.png">
                    <img src="img/icones/estrela.png">
                    <img src="img/icones/estrela.png">
                    <img src="img/icones/estrela.png">
                </div>
            </div>
             </div> 
             <div class="users">
                <img src="img/icones/mulher.png">
                <div class="inf">
                    <h3>Bruna</h3>
                    <h5>Barueri</h5>
                    
                    <div class="estrela">
                        <img src="img/icones/estrela.png">
                        <img src="img/icones/estrela.png">
                        <img src="img/icones/estrela.png">
                        <img src="img/icones/estrela.png">
                        <img src="img/icones/estrela.png">
                    </div>
                </div>
                 </div> 
                 <div class="users">
                    <img src="img/icones/mulher.png">
                    <div class="inf">
                        <h3>Bruna</h3>
                        <h5>Barueri</h5>
                        
                        <div class="estrela">
                            <img src="img/icones/estrela.png">
                            <img src="img/icones/estrela.png">
                            <img src="img/icones/estrela.png">
                            <img src="img/icones/estrela.png">
                            <img src="img/icones/estrela.png">
                        </div>
                    </div>
                     </div> 
                     <div class="users">
                        <img src="img/icones/mulher.png">
                        <div class="inf">
                            <h3>Bruna</h3>
                            <h5>Barueri</h5>
                            
                            <div class="estrela">
                                <img src="img/icones/estrela.png">
                                <img src="img/icones/estrela.png">
                                <img src="img/icones/estrela.png">
                                <img src="img/icones/estrela.png">
                                <img src="img/icones/estrela.png">
                            </div>
                        </div>
                     </div> 
    </div>
    
</body>
</html>