<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/trancista/trancista.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Trancista</title>
</head>

<body>
    <div class="index">
        <div class="barra">
            <img src="/img/logo/logo_FB_2.png">
        </div>
        <div class="barra-branca">
            <div class="icones">
                <img src="img/icones/procurar.png">
                <img src="img/icones/user.png">
                <img src="img/icones/bolsa-de-compras.png">
            </div>
        </div>
    </div>
    <div class="papel-parede">
        <div class="perfil">
            <img src="img/icones/mulher.png">
        </div>
    </div>
    <div class="nome">
        <h1>Bruna</h1>
    </div>
    <div class="estrela">
        <img src="img/icones/estrela.png">
        <img src="img/icones/estrela.png">
        <img src="img/icones/estrela.png">
        <img src="img/icones/estrela.png">
        <img src="img/icones/estrela.png">
    </div>
    <div class="redes">
        <img src="img/icones/whatsapp.png">
        <img src="img/icones/instagram1.png">
        <img src="img/icones/facebook_1.png">
    </div>
    <div class="end">
        <div class="mobilidade">
            <h2>MOBILIDADE</h2>
            <p>Atende em domicilio</p>
        </div>
        <div class="endereco">
            <h2>ENDEREÇO</h2>
            <p>R. Dr. Renato de Barros, 158 - Engenho Novo, Barueri, SP</p>
            <button>Abrir no mapa</button>
        </div>

        <div class="expediente">
            <h2>EXPEDIENTE</h2>
            <h3>Abertura e Encerramento</h3>
            <p>Das 10h até ás 21h</p>
            <h3>Dias da Semana</h3>
            <p>Terça, Quarta, Quinta, Sexta, Sábado, Domingo</p>
        </div>
    </div>
</body>

</html>