<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/prod_estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Acessorios</title>
</head>
<body>
    <div class="index">
        <div class="barra">
            <img src="img/logo/logo_FB_2.png">
        </div>
        <div class="barra-branca">
            <div class="menu"></div>
            <div class="icones">
                <img src="img/icones/procurar.png">
                <img src="img/icones/user.png">
                <img src="img/icones/bolsa-de-compras.png">
            </div>
        </div>
        <div class="jumbo">
            <h2>ACESSÓRIOS</h2>
        </div>
        <section class="produtos">
                <div class="card">
                    <div class="prod-img">
                        <img src="img/produtos/acessorio/ace1.png">
                    </div>
                    <div class="prod-inf">
                        <h4 class="espaco">ACESSÓRIO</h4>
                        <h6 class="espaco">acessório de anel com pingente</h6>
                        <h6 class="espaco">R$ 3,00</h6>
                    </div>
                    <div class="circ">
                        <div class="circulo dourado"></div>
                        <div class="circulo prata"></div>
                    </div>
                    
                    <div class="btn">
                        <button type="button">COMPRAR</button>
                    </div>
                </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace2.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel com pingente</h6>
                            <h6 class="espaco">R$ 2,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace3.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel com pingente</h6>
                            <h6 class="espaco">R$ 3,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace4.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel com pingente</h6>
                            <h6 class="espaco">R$ 4,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace5.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel</h6>
                            <h6 class="espaco">R$ 2,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace6.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel com pingente</h6>
                            <h6 class="espaco">R$ 3,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>  
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace7.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel com pingente</h6>
                            <h6 class="espaco">R$ 2,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/acessorio/ace8.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">ACESSÓRIO</h4>
                            <h6 class="espaco">acessório de anel com pingente</h6>
                            <h6 class="espaco">R$ 4,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo dourado"></div>
                            <div class="circulo prata"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
             </div>
        </section>
       <footer>
        <div class="redessociais">
            <img src="img/icones/twitter.png">
            <img src="img/icones/instagram.png">
            <img src="img/icones/facebook.png">
        </div>
        <hr>
        <div class="rodape">
            <img src="img/logo/logo_FB_2.png">
        </div>
        <div class="rodape-texto">
            <li>
                <ul>Contato</ul>
                <ul>FAQ</ul>
                <ul>Política de Privacidade</ul>
                <ul>Termos e Condições</ul>
            </li>
        </div>
       </footer>
    </div>
</body>
</html>