<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/prod_estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Laces</title>
</head>
<body>
    <div class="index">
        <div class="barra">
            <img src="img/logo/logo_FB_2.png">
        </div>
        <div class="barra-branca">
            <div class="menu"></div>
            <div class="icones">
                <img src="img/icones/procurar.png">
                <img src="img/icones/user.png">
                <img src="img/icones/bolsa-de-compras.png">
            </div>
        </div>
        <div class="jumbo">
            <h2>LACES</h2>
        </div>
        <section class="produtos">
                <div class="card">
                    <div class="prod-img">
                        <img src="img/produtos/lace/lace1.png">
                    </div>
                    <div class="prod-inf">
                        <h4 class="espaco">LACE</h4>
                        <h6 class="espaco">cacheada 330 gramas sintético</h6>
                        <h6 class="espaco">R$ 56,00</h6>
                    </div>
                    <div class="circ">
                        <div class="circulo preto"></div>
                        <div class="circulo vermelho"></div>
                        <div class="circulo vermelho2"></div>
                    </div>
                    
                    <div class="btn">
                        <button type="button">COMPRAR</button>
                    </div>
                </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/lace/lace2.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">LACE</h4>
                            <h6 class="espaco">lisa 400 gramas sintético</h6>
                            <h6 class="espaco">R$ 108,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo preto"></div>
                            <div class="circulo loiro"></div>
                            <div class="circulo castanho"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/lace/lace3.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">LACE</h4>
                            <h6 class="espaco">lisa 400 gramas sintético</h6>
                            <h6 class="espaco">R$ 65,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo preto"></div>
                            <div class="circulo castanho"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="prod-img">
                            <img src="img/produtos/lace/lace4.png">
                        </div>
                        <div class="prod-inf">
                            <h4 class="espaco">LACE</h4>
                            <h6 class="espaco">cacheada 400 gramas sintético</h6>
                            <h6 class="espaco">R$ 109,00</h6>
                        </div>
                        <div class="circ">
                            <div class="circulo preto"></div>
                            <div class="circulo loiro"></div>
                            <div class="circulo castanho"></div>
                        </div>
                        
                        <div class="btn">
                            <button type="button">COMPRAR</button>
                        </div>
                    </div>
             </div>
        </section>
       <footer>
        <div class="redessociais">
            <img src="img/icones/twitter.png">
            <img src="img/icones/instagram.png">
            <img src="img/icones/facebook.png">
        </div>
        <hr>
        <div class="rodape">
            <img src="img/logo/logo_FB_2.png">
        </div>
        <div class="rodape-texto">
            <li>
                <ul>Contato</ul>
                <ul>FAQ</ul>
                <ul>Política de Privacidade</ul>
                <ul>Termos e Condições</ul>
            </li>
        </div>
       </footer>
    </div>
</body>
</html>