<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@500&display=swap"
        rel="stylesheet">
    <title>Cliente</title>
</head>

<body>
    <div class="bg-login">
        <div class="container">
            <div class="logo2">
                <img src="img/logo/logo_FB.png">
            </div><br>
            <div class="titulo">
                <h3>CADASTRA-SE COMO CLIENTE</h3><br>
            </div>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <div class="inp-cliente">
                            <label>NOME</label>
                            <input type="text" name="nome" placeholder="Digite seu nome completo" />
                        </div>
                        <div class="inp-cliente">
                            <label>ENDEREÇO</label>
                            <input type="text" name="Telefone" placeholder="Digite seu endereço completo" />
                        </div>
                        <div class="inp-cliente">
                            <label>TELEFONE</label>
                            <input type="text" name="Endereço" placeholder="Digite seu telefone com DDD" />
                        </div>
                        <div class="inp-cliente">
                            <label>E-MAIL</label>
                            <input type="text" name="email" placeholder="Digite seu e-mail" />
                        </div>
                        <div class="inp-cliente">
                            <label>SENHA</label>
                            <input type="password" name="senha" size="15" placeholder="Digite sua senha" />
                        </div>

                    </div>
                    <h4>Seus dados pessoais serão usados para aprimorar a sua experiencia em todo site,
                        para gerenciar o acesso a sua conta e para outros propósitos, como descritos em nossa <a
                            href="#">politíca de privacidade</a></h4>
                </div>
                <div class="cliente_cadas_button">
                    <button><a href="#">CADASTRA-SE</a></button>
                </div>
            </form>
            <div class="button-voltar">
                <a href="index3.html">Voltar</a>
            </div>
        </div>
    </div>
</body>

</html>