<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@500&display=swap"
        rel="stylesheet">
    <title>Esqueceu a senha?</title>
</head>

<body>
    <div class="bg-login">
        <div class="container">
            <div class="logo">
                <img src="img/logo/logo_FB.png">
            </div>
            <h2>RECUPERAR A SENHA</h2>
            <p class="senha">Por favor, informe seu e-mail de cadastro</p><br>
            <form action="#">
                <div class="user-details">
                    <div class="input-box">
                        <div class="input1">
                            <label>E-mail</label>
                            <input type="text" name="email" placeholder="Digite seu e-mail" /><br>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="ACESSAR">
                </div>
            </form>
        </div>
    </div>
</body>

</html>